<div class="container my-4">
  <div class="mb-4">
    <%= link_to "â† Back to all emails", sent_emails_path, class: "btn btn-sm btn-outline-secondary" %>
  </div>

  <div class="card">
    <div class="card-header">
      <h4 class="mb-0"><%= h @email[:subject] %></h4>
    </div>
    <div class="card-body">
      <dl class="row mb-0">
        <dt class="col-sm-2">Message-ID:</dt>
        <dd class="col-sm-10"><code><%= h @email[:message_id] %></code></dd>

        <dt class="col-sm-2">From:</dt>
        <dd class="col-sm-10"><code><%= h @email[:from] %></code></dd>

        <dt class="col-sm-2">To:</dt>
        <dd class="col-sm-10"><code><%= h @email[:to] %></code></dd>

        <dt class="col-sm-2">Date:</dt>
        <dd class="col-sm-10"><%= h @email[:date] %></dd>
      </dl>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      <% if @email[:multipart] %>
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="text-tab" data-bs-toggle="tab" data-bs-target="#text-content" type="button" role="tab">
              Text
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="html-tab" data-bs-toggle="tab" data-bs-target="#html-content" type="button" role="tab">
              HTML
            </button>
          </li>
        </ul>
      <% else %>
        Body
      <% end %>
    </div>
    <div class="card-body">
      <% if @email[:multipart] %>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="text-content" role="tabpanel">
            <pre class="mb-0"><%= h @email[:text_part] %></pre>
          </div>
          <div class="tab-pane fade" id="html-content" role="tabpanel">
            <iframe srcdoc="<%= ERB::Util.html_escape(@email[:html_part]) %>" sandbox title="Email HTML preview" referrerpolicy="no-referrer" style="width: 100%; min-height: 400px; border: none;"></iframe>
          </div>
        </div>
      <% else %>
        <pre class="mb-0"><%= h @email[:body] %></pre>
      <% end %>
    </div>
  </div>
</div>
