<% content_for :title, "Invites" %>

<div class="space-y-8">
  <%= render PageHeaderComponent.new(title: "Invites") do |header| %>
    <% header.with_context_paragraph do %>
      <div id="invite-stats">
        <%= render "summary", **@invite_stats %>
      </div>
    <% end %>
    <% header.with_action_button do %>
      <%= link_to "Settings", settings_path, class: class_names("ff-button", "ff-button--secondary", "ff-button--compact") %>
    <% end %>
    <% header.with_action_button do %>
      <div id="create-invite-button">
        <%= render "create_button", can_create: policy(Invite).create? %>
      </div>
    <% end %>
  <% end %>

  <div id="invites-table">
    <%= render "table", invites: @invites %>
  </div>
</div>
