<div class="row">
  <div class="col-12">
    <%= page_header "Invites" do %>
      <div id="create-invite-button">
        <%= render "create_button", can_create: policy(Invite).create? %>
      </div>
    <% end %>

    <div id="invite-stats" class="mb-4">
      <%= render "stats", **@invite_stats %>
    </div>

    <div id="invites-table" class="mb-2">
      <%= render "table", invites: @invites %>
    </div>

    <% if @invite_stats[:invited_users_count] %>
      <div class="list-group">
        <div class="list-group-item">
          <strong>Invited users:</strong> <%= @invite_stats[:invited_users_count] %>
        </div>
      </div>
    <% end %>
  </div>
</div>
