<% content_for :title, "Settings" %>

<h1>Settings</h1>

<div class="row">
  <div class="col-6">
    <div class="card mb-4">
      <div class="card-header">
        <h4 class="card-title mb-0">Email Address</h4>
      </div>
      <div class="card-body">
        <%= form_with model: @user, url: email_update_path, method: :patch, local: true, class: "mb-4" do |form| %>
          <h5 class="mb-3">Email Address</h5>

          <div class="mb-3">
            <p>Current email: <strong class="mx-2"><%= @user.email_address %></strong></p>
          </div>

          <div class="mb-3">
            <%= form.label :email_address, "New email:", class: "form-label" %>
            <%= form.email_field :email_address, value: "", class: "form-control", placeholder: "Enter new email address" %>
          </div>

          <div>
            <%= form.submit "Update Email", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
    <% if @user.permissions.any? %>
      <div class="card mb-4">
        <div class="card-header">
          <h4 class="card-title mb-0">Permissions</h4>
        </div>
        <div class="card-body">
          <ul class="col-sm-8 mb-0">
            <% @user.permissions.each do |permission| %>
              <li><%= permission.name.humanize %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-6">
    <div class="card mb-4">
      <div class="card-header">
        <h4 class="card-title mb-0">Change Password</h4>
      </div>
      <div class="card-body">
        <%= form_with model: @user, url: password_update_path, method: :patch, local: true, class: "mb-4" do |form| %>
          <div class="mb-3">
            <%= form.label :current_password, "Current password:", class: "form-label" %>
            <%= form.password_field :current_password, class: "form-control", required: true %>
          </div>

          <div class="mb-3">
            <%= form.label :password, "New password:", class: "form-label" %>
            <%= form.password_field :password, class: "form-control", required: true %>
          </div>

          <div class="mb-3">
            <%= form.label :password_confirmation, "Confirm new password:", class: "form-label" %>
            <%= form.password_field :password_confirmation, class: "form-control", required: true %>
          </div>

          <div>
            <%= form.submit "Change Password", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
