<%# locals: (feed:) %>
<% if feed.can_be_previewed? %>
  <%= icon("check-circle-fill", css_class: "text-success me-2") %>
<% else %>
  <%= icon("circle", css_class: "text-muted me-2") %>
<% end %>

<strong class="me-2">Source:</strong>

<% if feed.url.present? %>
  <a href="<%= feed.url %>" target="_blank" class="text-decoration-none">
    <%= feed.url %>
  </a>

  <% if feed.feed_profile_key.present? %>
    (<%= t("feed_profiles.#{feed.feed_profile_key}") %>)
  <% end %>
<% else %>
  <span class="text-muted">not configured</span>
<% end %>

<%= link_to edit_feed_path(feed, section: "content-source", format: :turbo_stream),
    class: "text-decoration-none ms-2",
    data: { turbo_prefetch: false, turbo_stream: true },
    title: "Edit" do %>
  <%= icon("pencil", css_class: "text-secondary") %>
<% end %>
