<div id="target-group-selector">
  <div class="ff-form-group">
    <%= label_tag "feed[target_group]", "Target Group", class: "ff-form-label" %>

    <% if groups.present? %>
      <%= select_tag "feed[target_group]",
                     options_for_select(groups.sort, feed.target_group),
                     class: "ff-form-input",
                     required: true %>
      <p class="ff-form-help">
        The FreeFeed group where posts will be published. Groups are like channels or communities.
      </p>
    <% else %>
      <%= text_field_tag "feed[target_group]",
                         feed.target_group,
                         class: "ff-form-input",
                         placeholder: "Enter group name",
                         required: true %>
      <p class="ff-form-help">
        <% if token.nil? %>
          Unable to load groups. Please select a FreeFeed account or enter the group name manually.
        <% elsif !token.active? %>
          This token is inactive. Please select a different FreeFeed account or enter the group name manually.
        <% elsif defined?(token_error) && token_error == :unauthorized %>
          Unable to load groups. Please select a different FreeFeed account or enter the group name manually.
        <% elsif defined?(token_error) && token_error == :empty %>
          This account doesn't manage any groups yet. You can enter a group name manually.
          <%= link_to "Retry", settings_access_token_groups_path(token, feed_id: feed.id, retry: 1),
                      data: { turbo_stream: true },
                      class: "ff-link" %>
        <% else %>
          Could not load groups for this account. You can enter a group name manually.
          <%= link_to "Retry", settings_access_token_groups_path(token, feed_id: feed.id, retry: 1),
                      data: { turbo_stream: true },
                      class: "ff-link" %>
        <% end %>
      </p>
    <% end %>
  </div>
</div>
