<div class="relative shrink-0">
  <button type="button"
          id="<%= menu_id %>-button"
          data-dropdown-toggle="<%= menu_id %>"
          data-dropdown-placement="bottom-end"
          class="<%= trigger_class %>"
          aria-haspopup="true"
          aria-expanded="false">
    <%= helpers.icon("ellipsis", css_class: "size-4") %>
    <span class="sr-only"><%= label %></span>
  </button>
  <div id="<%= menu_id %>"
       class="z-20 hidden <%= width %> rounded-lg border border-border bg-surface shadow-sm"
       role="menu"
       aria-labelledby="<%= menu_id %>-button">
    <ul class="py-1">
      <% items.each do |item| %>
        <li><%= render_item(item) %></li>
      <% end %>
    </ul>
  </div>
</div>
