<%= render ModalComponent.new(title: "Update Available Invites", modal_id: @modal_id) do %>
  <%= form_with(model: @user, url: admin_user_available_invites_path(@user), method: :patch, data: { turbo_frame: "_top" }) do |form| %>
    <div class="ff-form-group">
      <%= form.label :available_invites, "Available Invites", class: "ff-form-label" %>
      <%= form.number_field(:available_invites, min: 0, class: "ff-form-input") %>
    </div>
    <div class="ff-card__footer">
      <%= form.submit("Update", class: "ff-button ff-button--compact", data: { action: "modal#confirm" }) %>
      <%= tag.button "Cancel",
                     type: "button",
                     class: "ff-button ff-button--secondary ff-button--compact",
                     data: { action: "modal#close" } %>
    </div>
  <% end %>
<% end %>
