<header class="flex flex-col gap-5">
  <% if breadcrumb? %>
    <nav aria-label="Breadcrumb"><%= breadcrumb %></nav>
  <% end %>
  <div class="flex flex-col gap-5 sm:flex-row sm:items-start sm:justify-between">
    <div class="flex flex-col gap-5">
      <%= tag.h1(class: class_names("text-4xl font-semibold mb-0 text-heading", "flex items-center gap-3" => title_icon?), data: @title_data) do %>
        <%= title_icon if title_icon? %>
        <%= @title %>
      <% end %>
      <% if context_paragraphs? %>
        <% context_paragraphs.each do |paragraph| %>
          <p class="text-body"><%= paragraph %></p>
        <% end %>
      <% end %>
    </div>
    <% if action_buttons? %>
      <div class="flex w-full items-center justify-start gap-3 sm:w-auto sm:justify-end">
        <% action_buttons.each do |button| %>
          <%= button %>
        <% end %>
      </div>
    <% end %>
  </div>
</header>
