<div class="table-responsive">
  <table class="table table-hover table-bordered posts-table">
    <thead>
      <tr>
        <th class="content-column">Content</th>
        <% unless local_assigns[:hide_feed_column] %>
          <th class="feed-column">Feed</th>
        <% end %>
        <th class="published-column text-center" title="Published date"><%= icon("calendar3") %></th>
        <th class="count-column text-center" title="Attachments"><%= icon("paperclip") %></th>
        <th class="count-column text-center" title="Comments"><%= icon("chat-dots") %></th>
        <th class="status-column text-center" title="Status"><%= icon("info-circle") %></th>
        <th style="width: 1%;" class="text-center"></th>
      </tr>
    </thead>
    <tbody>
      <% posts.each do |post| %>
        <%= render "shared/post_row", post: post, hide_feed_column: local_assigns[:hide_feed_column] || false %>
      <% end %>
    </tbody>
  </table>
</div>
