<div class="table-responsive">
  <table class="table table-hover table-bordered posts-table">
    <thead>
      <tr>
        <th class="content-column">Content</th>
        <% unless local_assigns[:hide_feed_column] %>
          <th class="feed-column">
            <%= sortable_header(
              column: "feed",
              title: "Feed",
              current_sort: params[:sort] || controller.default_sort_column,
              current_direction: params[:direction] || controller.default_sort_direction,
              path_params: { feed_id: params[:feed_id] }
            ) %>
          </th>
        <% end %>
        <th class="published-column text-center">
          <%= sortable_header(
            column: "published",
            title: icon("calendar3"),
            current_sort: params[:sort] || controller.default_sort_column,
            current_direction: params[:direction] || controller.default_sort_direction,
            path_params: { feed_id: params[:feed_id] }
          ) %>
        </th>
        <th class="count-column text-center">
          <%= sortable_header(
            column: "attachments",
            title: icon("paperclip"),
            current_sort: params[:sort] || controller.default_sort_column,
            current_direction: params[:direction] || controller.default_sort_direction,
            path_params: { feed_id: params[:feed_id] }
          ) %>
        </th>
        <th class="count-column text-center">
          <%= sortable_header(
            column: "comments",
            title: icon("chat-dots"),
            current_sort: params[:sort] || controller.default_sort_column,
            current_direction: params[:direction] || controller.default_sort_direction,
            path_params: { feed_id: params[:feed_id] }
          ) %>
        </th>
        <th class="status-column text-center">
          <%= sortable_header(
            column: "status",
            title: icon("info-circle"),
            current_sort: params[:sort] || controller.default_sort_column,
            current_direction: params[:direction] || controller.default_sort_direction,
            path_params: { feed_id: params[:feed_id] }
          ) %>
        </th>
        <th style="width: 1%;" class="text-center"></th>
      </tr>
    </thead>
    <tbody>
      <% posts.each do |post| %>
        <%= render "shared/post_row", post: post, hide_feed_column: local_assigns[:hide_feed_column] || false %>
      <% end %>
    </tbody>
  </table>
</div>
