<% content_for :title, "Settings" %>

<%= page_header "Settings" do %>
  <%= link_to "Sign Out", session_path, data: { turbo_method: :delete }, class: "btn btn-outline-secondary" %>
<% end %>

<div class="row">
  <div class="col-12">
    <div class="list-group">
      <div class="list-group-item">
        <strong>Email:</strong> <%= @user.email_address %>
        <%= link_to "Change", edit_settings_email_update_path, class: "text-decoration-none ms-2" %>
      </div>

      <div class="list-group-item">
        <strong>Password:</strong> last updated <%= time_ago_in_words(@user.password_updated_at || @user.created_at) %> ago
        <%= link_to "Change", edit_settings_password_update_path, class: "text-decoration-none ms-2" %>
      </div>

      <% if @user.permissions.any? %>
        <div class="list-group-item">
          <strong>Permissions:</strong>
          <%= @user.permissions.map { |permission| permission.name.humanize }.join(", ") %>
        </div>
      <% end %>
    </div>

    <div class="list-group mt-4">
      <div class="list-group-item">
        <strong>Tokens:</strong>
        <% if @access_tokens.any? %>
          <%= pluralize(@access_tokens.active.count, 'active') %><% if @access_tokens.inactive.any? %>, <%= pluralize(@access_tokens.inactive.count, 'inactive') %><% end %>
          <%= link_to "Manage", settings_access_tokens_path, class: "text-decoration-none ms-2" %>
        <% else %>
          none configured
          <%= link_to "Add a token", new_settings_access_token_path, class: "text-decoration-none ms-2" %>
        <% end %>
      </div>
    </div>

    <div class="list-group mt-4">
      <div class="list-group-item">
        <strong>Invites:</strong>
        <% created_count = @user.created_invites.count %>
        <% used_count = @user.created_invites.where.not(invited_user_id: nil).count %>
        <%= @user.available_invites %> available<% if created_count > 0 %>,
        <%= created_count %> created<% end %><% if used_count > 0 %>,
        <%= used_count %> used<% end %>
        <% if @user.available_invites > 0 || created_count > 0 %>
          <% if @user.available_invites > 0 %>
            <%= link_to "Invite someone", invites_path, class: "text-decoration-none ms-2" %>
          <% else %>
            <%= link_to "See your invites", invites_path, class: "text-decoration-none ms-2" %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">Onboarding tour</h5>
        <p class="card-text">Want a quick refresher? Run through the setup steps again to get familiar with how everything works.</p>
        <%= button_to "Repeat onboarding", onboarding_path, method: :post, class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
</div>
