<%= turbo_stream.replace "groups-select" do %>
  <div id="groups-select">
    <select name="<%= @scope %>[target_group]"
            id="<%= @scope %>_target_group"
            class="form-select"
            data-groups-target="select">
      <option value="">Choose target group...</option>
      <% @managed_groups.each do |group| %>
        <% display_name = group[:screen_name].present? ? "#{group[:screen_name]} (#{group[:username]})" : group[:username] %>
        <% display_name += " 🔒" if group[:is_private] %>
        <option value="<%= group[:username] %>" <%= 'selected' if @selected_group == group[:username] %>><%= display_name %></option>
      <% end %>
    </select>
    <div class="form-text" data-groups-target="helpText">
      Select the Freefeed group
    </div>
    <div class="invalid-feedback">Select a target group.</div>
  </div>
<% end %>
