<% if @delete_record %>
  <%= turbo_stream.remove dom_id(@post) %>
<% else %>
  <%= turbo_stream.replace dom_id(@post) do %>
    <%= render PostCardComponent.new(post: @post, show_feed: true) %>
  <% end %>
<% end %>

<%= turbo_stream.prepend "flash-messages" do %>
  <%= render AlertComponent.new(variant: :info) do %>
    <span><%= @notice %></span>
  <% end %>
<% end %>
