<%= page_header "Users" %>

<% if @users.any? %>
  <div class="table-responsive">
    <table class="table table-hover table-bordered text-nowrap">
      <thead>
        <tr>
          <th>
            <%= sortable_header(
              column: "email",
              title: "Email",
              current_sort: params[:sort] || controller.default_sort_column,
              current_direction: params[:direction] || controller.default_sort_direction,
              path_params: {}
            ) %>
          </th>
          <th>
            <%= sortable_header(
              column: "name",
              title: "Name",
              current_sort: params[:sort] || controller.default_sort_column,
              current_direction: params[:direction] || controller.default_sort_direction,
              path_params: {}
            ) %>
          </th>
          <th class="text-center">
            <%= sortable_header(
              column: "feeds",
              title: "Feeds",
              current_sort: params[:sort] || controller.default_sort_column,
              current_direction: params[:direction] || controller.default_sort_direction,
              path_params: {}
            ) %>
          </th>
          <th class="text-center">
            <%= sortable_header(
              column: "tokens",
              title: "Tokens",
              current_sort: params[:sort] || controller.default_sort_column,
              current_direction: params[:direction] || controller.default_sort_direction,
              path_params: {}
            ) %>
          </th>
          <th class="text-center">
            <%= sortable_header(
              column: "posts",
              title: "Posts",
              current_sort: params[:sort] || controller.default_sort_column,
              current_direction: params[:direction] || controller.default_sort_direction,
              path_params: {}
            ) %>
          </th>
          <th class="text-center">
            <%= sortable_header(
              column: "last_seen",
              title: "Last Seen",
              current_sort: params[:sort] || controller.default_sort_column,
              current_direction: params[:direction] || controller.default_sort_direction,
              path_params: {}
            ) %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to user.email_address, admin_user_path(user) %>
              <% if user.admin? %>
                <span class="text-muted">(admin)</span>
              <% end %>
            </td>
            <td>
              <%= user.name %>
            </td>
            <td class="text-center">
              <%= user.feeds_count %>
            </td>
            <td class="text-center">
              <%= user.access_tokens_count %>
            </td>
            <td class="text-center">
              <%= user.posts_count %>
            </td>
            <td class="text-center">
              <% if user.last_seen_at %>
                <time class="text-muted" datetime="<%= user.last_seen_at.iso8601 %>" title="<%= user.last_seen_at.to_fs(:long) %>">
                  <%= short_time_ago(user.last_seen_at) %>
                </time>
              <% else %>
                <span class="text-muted">Never</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= pagination_for @users,
                     collection_name: "users",
                     path_helper: ->(page) { admin_users_path(page: page, sort: params[:sort], direction: params[:direction]) } %>
<% else %>
  <div class="text-center py-5">
    <p class="text-muted">No users found</p>
  </div>
<% end %>

