<%# locals: () %>
<% flash_alerts = capture do %>
  <% if success %>
    <%= render AlertComponent.new(variant: :success) do %>
      <span><%= sanitize(success) %></span>
    <% end %>
  <% end %>

  <% if notice %>
    <%= render AlertComponent.new(variant: :info) do %>
      <span><%= sanitize(notice) %></span>
    <% end %>
  <% end %>

  <% if alert %>
    <%= render AlertComponent.new(variant: :error) do %>
      <span><%= sanitize(alert) %></span>
    <% end %>
  <% end %>
<% end %>
<div class="space-y-3 mb-6 empty:hidden" id="flash-messages"><%= flash_alerts if flash_alerts.present? %></div>
