<%# locals: () %>
<div class="<%= 'space-y-3 mb-4' if notice || alert %>" id="flash-messages">
  <% if notice %>
    <%= render AlertComponent.new(variant: :info) do %>
      <span><%= sanitize(notice) %></span>
    <% end %>
  <% end %>

  <% if alert %>
    <%= render AlertComponent.new(variant: :error) do %>
      <span><%= sanitize(alert) %></span>
    <% end %>
  <% end %>
</div>
